<div class="jumbotron text-center">
  <div class="overlay"></div>
  <div class="background-image"></div>
  <div class="caption">
    <h1>The Boston Herald Headlines</h1>
    <p class="lead">Mongo Scraper Homework assignment</p>
  </div>
  <hr class="my-4">
  <div class="container-fluid article-container">
    <table>
      <thead>
        <th>ID</th>
        <th>Title</th>
        <th>Summary</th>
        <th>Url</th>
        <th>Saved</th>
      </thead>
      <tbody>
        {{#each head}}
          <tr>
            <td>{{_id}}</td>
            <td>{{title}}</td>
            <td>{{summary}}</td>
            <td>{{url}}</td>
            <td>{{saved}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>

  <a class="btn btn-primary btn-lg" href="#" role="button">Scrape</a>
</div>

<footer class="footer">
  <div class="container">
    <p>Boston Herald Headline Scraper</p>
  </div>
</footer>