<div class="jumbotron text-center">
  <div class="overlay"></div>
  <div class="background-image"></div>
  <div class="caption">
    <h1>The Boston Herald Saved Headlines</h1>
    <p class="lead">Here are your saved articles!</p>
  </div>
  <hr class="my-4">
  <div class="container-fluid article-container"></div>
  <a class="btn btn-primary btn-lg" href="/headlines" role="button">Back to headlines</a>
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="/headlines">Headlines</a>
        <a class="nav-item nav-link" href="/saved">Saved</a>
        <!--<a class="nav-item nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>-->
      </div>
    </div>
  </nav>


{{#each found}}
<div class="card w-90">
  <div class="card-body">
    <p hidden class="card-id">{{_id}}</p>
    <h5 class="card-title">{{title}}</h5>
    <p class="card-text">{{summary}}</p>
    <a href={{url}} target="_blank">{{url}}</a>
    <!--<a href="" class="btn btn-primary note-btn float-right" data-toggle="modal" data-target="">Add a Note</a> -->
    <a href="#" class="btn btn-secondary del-btn float-right">Delete from Saved</a>
    <button type="button" class="btn btn-primary get-btn float-right" data-toggle="modal" data-target="#my-modal">Article Notes</button>
  </div>
</div>
{{/each}}

<div class="modal my-modal" id="my-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"></h5>
        <p hidden class="parent-id"></p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p></p> 
        <button  class="btn btn-default btn-success ex-btn float-right" type="submit" data-dismiss="modal" >Delete Note</button>
        <input type="text" class="form-control" id="user-note"> 
      </div>
      <div class="modal-footer">
        <button  class="btn btn-default btn-success note-btn" type="submit" data-dismiss="modal" >Save note</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<footer class="footer">
  <div class="container">
    <p>Boston Herald Headline Scraper</p>
  </div>
</footer>